In [19]:
# Initial imports
import os
import json
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

%matplotlib inline

In [20]:
# Load .env enviroment variables
load_dotenv()

True

In [21]:
# Set Alpaca API key and secret
alpaca_api = os.getenv("ALPACA_API")
alpaca_secret = os.getenv("ALPACA_SECRET")

# Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api,
    alpaca_secret,
    api_version = "v2"
)

In [32]:
# Format current date as ISO format
start_date = pd.Timestamp("2019-03-06", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-03-06", tz="America/New_York").isoformat()

# Set the tickers
tickers = ["FB", "AMZN", "AAPL", "NFLX", "GOOG", "SHOP", "PLD", "TTWO", "ATVI", "NVDA", "AMD",
          "PEP", "MKC", "DPZ", "WING", "COST", "ETSY", "CPB", "OKTA", "ZM"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get price data for 20 picks 
ticker_data = api.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit=1000,
).df

# Preview DataFrame
ticker_data.head()

                             AAPL                                      AMD  \
                             open    high     low   close    volume   open
time
2019-03-06 00:00:00-05:00  174.67  175.49  173.94  174.51  17535168  23.47
2019-03-07 00:00:00-05:00  174.02  174.44  172.02  172.47  20110131  22.33
2019-03-08 00:00:00-05:00  170.32  173.07  169.50  172.92  19475688  21.35
2019-03-11 00:00:00-04:00  175.49  179.12  175.35  178.98  26225966  22.15
2019-03-12 00:00:00-04:00  180.00  182.67  179.37  180.94  27277399  23.10

                                                               ...   WING  \
                              high     low    close    volume  ...   open
time                                                           ...
2019-03-06 00:00:00-05:00  23.5300  22.400  22.4100  56503096  ...  66.66
2019-03-07 00:00:00-05:00  22.4101  21.730  22.0700  48084152  ...  65.69
2019-03-08 00:00:00-05:00  22.0850  21.035  22.0103  46408212  ...  65.27
2019-03-11 00:00:00-04:00  23.0750  21.980  22.9500  48787508  ...  66.79
2019-03-12 00:00:00-04:00  23.7950  22.780  23.4800  51923032  ...  66.58

                                                             ZM           \
                              high      low  close  volume open high low
time
2019-03-06 00:00:00-05:00  67.0000  65.8400  65.87  393804  NaN  NaN NaN
2019-03-07 00:00:00-05:00  66.0386  64.8000  65.39  280014  NaN  NaN NaN
2019-03-08 00:00:00-05:00  67.1600  64.7244  66.65  632366  NaN  NaN NaN
2019-03-11 00:00:00-04:00  66.8800  65.4300  66.81  280335  NaN  NaN NaN
2019-03-12 00:00:00-04:00  68.6100  66.5800  66.87  385000  NaN  NaN NaN


                          close volume
time
2019-03-06 00:00:00-05:00   NaN    NaN
2019-03-07 00:00:00-05:00   NaN    NaN
2019-03-08 00:00:00-05:00   NaN    NaN
2019-03-11 00:00:00-04:00   NaN    NaN
2019-03-12 00:00:00-04:00   NaN    NaN

[5 rows x 100 columns]

In [23]:
ticker_data.to_csv('./pandemic_stock_picks.csv', index=True, na_rep='NaN', mode='w')

In [31]:
one_day_df = ticker_data.iloc[:2]
one_day_df

                             AAPL                                       AMD  \
                             open    high     low   close     volume   open
time
2020-03-06 00:00:00-05:00  282.00  290.82  281.23  288.98   51462221  49.46
2020-03-09 00:00:00-04:00  263.75  278.09  263.00  266.09  130952816  43.35

                                                           ...   WING          \
                            high    low  close     volume  ...   open    high
time                                                       ...
2020-03-06 00:00:00-05:00  49.54  46.74  48.60  117513388  ...  77.15  80.910
2020-03-09 00:00:00-04:00  46.34  43.03  43.26  144460752  ...  75.02  76.635

                                                        ZM                 \
                               low  close   volume    open   high     low
time
2020-03-06 00:00:00-05:00  76.4400  79.28  1080468  119.65  122.0  107.00
2020-03-09 00:00:00-04:00  74.0601  74.76   708463  102.86  116.5  100.88


                            close    volume
time
2020-03-06 00:00:00-05:00  114.33  45566924
2020-03-09 00:00:00-04:00  113.75  12690592

[2 rows x 100 columns]